/* You can add global styles to this file, and also import other style files */
.booked {
    background-color: rgb(156, 10, 10);
    color: white;
}

.available{
    background-color: rgb(99, 158, 9);
    color: white;
}
